{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <title>Loja</title>
</head>
<body>
        <h1>Loja Teste</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                {{range .}}
                    <tr>
                        <td>{{.Nome}}</td>
                        <td>{{.Descricao}}</td>
                        <td>{{.Preco}}</td>
                        <td>{{.Quantidade}}</td>
                    </tr>
                {{end}}
                <tr>
                    <td>Notebook</td>
                    <td>Muito Rapido</td>
                    <td>1999</td>
                    <td>5</td>
                </tr>    
            </tbody>
        </table>        
</body>
</html>
{{end}}